* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: black;
}

header ul {
    display: flex;
    list-style: none;
}

header a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    background: white;
    color: black;
}

[data-page="login"]form {
    margin: auto;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

[data-page="login"]form div:not(:last-child) {
    display: flex;
    margin-bottom:10px;
}

[data-page="login"]form div label {
    flex: 1;
}

[data-page="login"]form div input {
    flex: 3;
    border-bottom: 1px solid black;
}

[data-page="login"]form button {
    border: 1px solid black;
    background: white;
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
}

[data-page="login"]form button:hover{
    background: black;
    color:white;
    cursor: pointer;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    margin: auto;
}

.button {
    background: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.button:hover {
    background: black;
    color: white;
}

.red {
    border: 1px solid rgb(126, 7, 7);
    background: rgb(175, 46, 46);
    color: white;
}

[data-page="index"] .wrapper h1{
    text-align: center;
}

[data-page="index"] .wrapper ul {
    list-style: none;
    border: 1px solid black;
}

[data-page="index"] .wrapper ul li{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid black;
}


[data-page="index"] .wrapper li:last-child{
    border-bottom: 0;
}

[data-page="index"] .wrapper li a{
    position: absolute;
    right: 5px;
    top:5px;
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px;
}

[data-page="index"] .wrapper form{
    margin-top: 10px;
    display: flex;
}

[data-page="index"] .wrapper input {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    outline: none;
}

[data-page="index"] .wrapper button {
    padding: 5px;
    display: block;
    border: 1px solid black;
    background: black;
    color: white;
    cursor: pointer;
}