<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ma Super TODO</title>
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body data-page="login">
        
        <%- include("fragments/header.ejs"); %>

        <main>

            <ul>
                <% if(session && session.errors && session.errors[url]){ %>
                    <% session.errors[url].forEach((error) => { %>
                    <li><%= error %></li>
                    <% }); %>
                <% } %>
            </ul>

            <form action="/user/auth" method="POST">
                <div>
                    <label for="login">Login</label>
                    <input id="login" name="login" type="text" value="hello">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" value="hello">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </main>

    </body>
</html>