<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ma Super TODO</title>
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body>
        
        <%- include("../fragments/header.ejs"); %>

        <main>
            <div class="wrapper">
                <a href="/user/delete" class="button red">Delete Profile</a>
            </div>
        </main>

    </body>
</html>